dill==0.3.6
importlib-metadata==6.0.0
ipython==8.15.0
ipykernel==6.25.0
joblib==1.2.0
matplotlib==3.7.2
mpi4py==3.1.5
more-itertools==8.12.0
multiprocess==0.70.14
notebook==6.5.4
nb_conda_kernels==2.3.1
numpy==1.24.3
pandas==2.0.3
pip==23.3.1
plotly==5.9.0
psutil==5.9.0
pyproj==3.6.1
scikit-learn==1.3.0
scipy==1.11.1
seaborn==0.12.2
setuptools==68.2.2
sympy==1.11.1
tabulate==0.8.10
zipp==3.11.0
zlib==1.2.13
